asgiref==3.3.1
Django==3.1.7
django-annoying==0.10.6
django-filter==2.4.0
django-jsonstore==0.5.0
django-material==1.7.5
django-viewflow==1.8.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
viewflow==0.0
